/PYTHON-11. Базовые приёмы работы с данными в PandasPYTHON-11. Базовые приёмы работы с данными в Pandas
/PYTHON-12. Продвинутые методы работы с данными в Pandas
/PYTHON_10_Введение в Pandas
/Итоговое задание для Python-13.ipynb